@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* font-size: 14px; */
  box-sizing: border-box;
}

html *::-webkit-scrollbar {
  display: none
}

.text-stroke{

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsl(var(--muted-foreground));

}


.text-norm{
  -webkit-text-stroke-width: 0px !important ;
}

.super {
  background: linear-gradient(to top left, #ea896a, #d9658c, #49ced3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}


.cl-internal-b3fm6y {
  visibility: hidden;
}

.heartbeat {
  --scaleStart: 1;
  --scaleEnd: 1.1;
  animation: heartbeat 10s infinite;
}

.dot {
  --scaleStart: 1;
  --scaleEnd: 1.3;
  animation: heartbeat 3s infinite;
}

.line-shrink {
  animation: shrink 3s infinite;
}

@keyframes shrink {
  0% {
    height: 64px;
  }

  50% {
    height: 16px;
  }

  100% {
    height: 64px;
  }
}

.bg-header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.animate-moveup{
  animation: moveup 1s ease-in-out;
}

@keyframes moveup {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(var(--scaleStart));
  }

  50% {
    transform: scale(var(--scaleEnd));
  }

  100% {
    transform: scale(var(--scaleStart));
  }
}

@keyframes pingbig {
  75%, 100% {
      transform: scale(2.5);
      opacity: 0;
  }
}
.animate-ping-big {
  animation: pingbig 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #d9658c;

    --background: 225 19% 8%;
    --foreground: -21 100% 100%;

    --muted: 223 14% 10%; 
    --muted-foreground: 0 0% 71%; /* gray*/

    --popover: -21 53% 8.06%;
    --popover-foreground: -21 6% 98.1%;

    --card: -21 53% 8.06%;
    --card-foreground: -21 6% 98.1%;

    --border: -21 30% 18.6%;
    --input: -21 30% 18.6%;

    --primary: -21 60% 62%;
    --primary-foreground: -21 6% 6.2%;

    --secondary: -21 30% 18.6%;
    --secondary-foreground: -21 6% 98.1%;

    --accent: -21 30% 18.6%;
    --accent-foreground: -21 6% 98.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -21 6% 98.1%;

    --ring: -21 60% 62%;
    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}